/* NAVBAR */
.navbar {
  background-color: white;
}
.nombreGrupo {
  color: rgb(186, 102, 63);
  text-decoration: none;
}
.botonEntrar {
  background-color: rgb(28, 28, 81);
  color: white;
}

/* CAROUSEL */
.carouselImagenUno {
  position: relative;
  display: inline-block;
}
.textoImagen {
  position: absolute;
  top: 4rem;
  left: 4rem;
  color: white;
}
